<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label 'How succesfull do you think this idea might be?' %><br />
    <%= f.label '1=least successful:10=Most likly to succeed' %><br />
    <%= f.text_field :range %>
  </div>
  <div class="field">
    <%= f.label :task %><br />
    <%= collection_select(:idea, :task_id, @tasks, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
		<%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
