<h1>Listing Ideas</h1>

<%= will_paginate @ideas %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Range</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td colspan="5"><%= link_to 'New Idea', new_idea_path %></td>
    <td>
      <%= form_tag('/ideas') do %>
      <select name="order" onchange="this.form.submit();">
        <option name="asc">Range Ascending</option>
        <option name="desc">Range Descending</option>
      </select>
      <% end %>
    </td>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.name %></td>
    <td><%= idea.description %></td>
    <td><%= idea.range %></td>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>