<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>
<p>
  <b>Completed?:</b>
  <%= @idea.completed %>
</p>
<p>
  <b>Probability of success:</b>
  <%= @idea.range %>
</p>
<p>
  <b>Description:</b>
  <%= simple_format @idea.description %>
</p>
<p>
  <b>Tasks:</b>
  <ul id="tasks">
    <% for task in @idea.tasks %>
      <li>
        <%= check_box_tag 'completed', 'yes', task.completed, :class => 'completed', 'data-id' => task.id %>
        <%= link_to task.name, task %>
      </li>
    <% end %>
  </ul>
</p>
<p>
  <b>Picture:</b>
	<%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>