<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Team members:</b>
  <%= @task.team_members %>
</p>

<p>
  <b>Notes:</b>
  <%= @task.notes %>
</p>
<p>
  <b>Idea:</b>
  <%= @task.idea.name %>
</p>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
